html{ overflow-y:scroll;}
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,select,textarea,button,th,td,blockquote,address,pre{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label{
    font-size:100%;
    vertical-align:middle;
}
ul,dl,ol,li{
    list-style:none;
	list-style-type:none;
}
img,fieldset{
    border:none;
}
img{
    display:inline-block;
    overflow:hidden;
    vertical-align:middle;
}
em,address{
    font-style:normal;
}
sup,sub{
    vertical-align:baseline;
}
q:before{
    content:"";
}
q:after{
    content:"";
}
button{
    cursor:pointer;
}
textarea{
    word-wrap:break-word;
    resize:none;
}
body{
    background-color:#fff;
    color:#000000;
    font:12px/1.5 "宋体",tahoma,arial,simsun;
}
a{color:#3a3a3a;text-decoration:none;}
a:hover{text-decoration:underline;   color: #3a3a3a;}
a:focus{outline:none;}
.font-12{font-size:12px;}
.font-14{font-size:14px;}

.clear{ clear:both; height:0px; overflow:hidden;}
.s-On{ display:block;}
.s-Off{ display:none;}
.link1:link,.link1:visited{ color:#666666;}
.link1:hover{ color:#666666;}



#menu{ width:1000px; height:241px; overflow:hidden; margin:0px auto;}
#menu .mtopbar{ width:1000px; height:29px; line-height:29px; overflow:hidden; border-bottom:1px #dddddd solid; color:#333333;}
#menu .mtopbar .mtopbarl{ width:500px; height:29px; float:left;}
#menu .mtopbar .mtopbarr{ width:270px; height:29px; float:right;}
#menu .mtopbar .mtopbarr1{ width:125px; height:29px; float:right;}
#menu .mtopbar .mtopbarr1 img{ margin:6px 6px 0px 0px;}
#menu .mtopbar a{color:#333333;}
#menu .mtopbar .dl{ color:#dc0026;}
#menu .logobox{ width:1000px; height:137px;}
#menu .logobox h1{ width:282px; height:60px; margin-top:47px; float:left;}
#menu .logobox .serch{ width:250px; height:26px; margin-top:47px; float:left; background:url(../images/m_search.gif) left top no-repeat; padding-top:34px;}
#menu .logobox .serch .sercbox{ width:153px; height:24px; line-height:24px; padding:0px 9px; color:#a6a6a6; border:0px; background:none;}
#menu .logobox .serch .sercbtn{ width:61px; height:24px;overflow:hidden;}
#menu .logobox .rx{ width:200px; height:60px; margin-top:47px; float:right; background:url(../images/m_rx.gif) left top no-repeat;}
#main_nav{ width:1000px; height:74px; background:url(../images/m_bg.gif);}
#main_nav ul{ width:910px; height:46px; overflow:hidden; float:left;}
#main_nav ul li{ width:88px; height:46px; padding-right:2px; overflow:hidden; float:left; font-size:14px; background:url(../images/m_bg1.gif) right top no-repeat; text-align:center; line-height:46px;}
#main_nav ul li a{ width:88px; height:46px; overflow:hidden; line-height:46px; color:#FFF; font-size:14px; font-weight:bold; display:block;}
#main_nav ul li a:hover,#main_nav ul li a.change{ background:url(../images/m_bg2.gif) center bottom no-repeat; text-decoration:none;}
#main_nav .rmenu{ width:83px; height:40px; padding:3px 0px; overflow:hidden;float:right; line-height:20px; color:#f33531;}
#main_nav .rmenu a{ color:#FFF;}

#main_nav .subnav{ width:1000px; height:28px; overflow:hidden; display:block;}
#main_nav .subnav .nav_list{}
#main_nav .subnav .list1{ padding-left:10px;}
#main_nav .subnav .list2{ padding-left:90px;}
#main_nav .subnav .list3{ padding-left:180px;}
#main_nav .subnav .list4{ padding-left:270px;}
#main_nav .subnav .list5{ padding-left:360px;}
#main_nav .subnav .list6{ padding-left:450px;}
#main_nav .subnav .list7{ padding-left:540px;}
#main_nav .subnav .list8{ padding-left:450px;}
#main_nav .subnav .list9{ padding-left:540px;}
#main_nav .subnav .list10{ padding-left:600px;}
#main_nav .subnav .nav_list a{ float:left; height:28px; line-height:28px; display:block;padding-left:15px; background:url(../images/m_bg3.gif) left center no-repeat; padding-right:20px; color:#aaaaaa;}


#footer{ width:100%; height:255px; overflow:hidden; background-color:#f3f1f4; border-top:5px #9f001c solid; padding-top:45px;}
#footer .footcon{ width:1000px; margin:0px auto;}
#footer .footcon .footcon1{ width:400px; float:left; height:200px; padding-top:55px; background:url(../images/logomin.gif) no-repeat; padding-left:32px; color:#5b5b5b; line-height:20px;}
#footer .footcon .footcon1 a{ color:#5b5b5b;}
#footer .footcon .footlink{float:left;width:510px; height:180px; overflow:hidden;}
#footer .footcon .footlink li{ width:90px; height:180px; border-left:1px #cccccc solid; float:left; padding-left:10px;line-height:24px;}
#footer .footcon .footlink li span{ display:block;font-weight:bold; color:#666666; margin-bottom:5px;}
#footer .footcon .footlink li a{ display:block;color:#666666;}